body, html {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    background: #1a1a2e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    text-align:center;
}

.glow-btn{
    background: linear-gradient(90deg, #79ffaf, #0575e6);
    color: #2e2a2a;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1.2rem;
    box-shadow: 0 0 10px #00f260, 0 0 40px #0575e6;
    transition: all 0.3s ease-in-out;
}

.glow-btn:hover{
    box-shadow: 0 0 15px #00f260, 0 0 40px #498ccf;
    transform: scale(1.1, 1.1);
}